<!DOCTYPE html>
<html>
  <head>
    <title>Lusiadas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="modal" id="landing-page-modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Welcome (Bem-vindo)!</p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <p>Click <code>Learn</code> in the upper left to give <strong>MemorizeOnline</strong> a try right away!</p>
        </section>
      </div>
    </div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to('MemorizeOnline', root_path, class: 'navbar-item') %>
        <%= link_to('Learn', lines_read_path(id: viewing_user.next_line_to_learn), class: 'navbar-item') %>
        <%= link_to("Review (#{viewing_user.review_count})", lines_read_path(id: viewing_user.next_line_to_review), class: 'navbar-item', disabled: viewing_user.next_line_to_review.nil?) %>
        <% if current_user.present? %>
          <%= link_to('Settings', user_path(current_user), class: 'navbar-item') %>
          <%= link_to('Sign Out', session_path(current_user), method: :delete, class: 'navbar-item') %>
        <% else %>
          <%= link_to('Sign Up', new_user_path, class: 'navbar-item') %>
          <%= link_to('Sign In', new_session_path, class: 'navbar-item') %>
        <% end %>
        <div class="navbar-burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </nav>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
