<!DOCTYPE html>
<html>
  <head>
    <title>Lusiadas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="modal" id="landing-page-modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Welcome (Bem-vindo)!</p>
          <button class="delete" aria-label="close" id="close-modal-button"></button>
        </header>
        <section class="modal-card-body">
          <p>Click <code>Learn</code> in the upper left to give <strong>MemorizeOnline</strong> a try right away!</p>
        </section>
      </div>
    </div>
    <%= nav_presenter.html %>
    <div class='container'>
      <% if flash.alert.present? %>
          <%= flash_presenter.html %>
      <% end %>
      
      <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong>MemorizeOnline</strong> was made by <a href="http://virissimo.info/">Jayson Virissimo</a>.
            You can contact me at <a href="mailto:jayson.virissimo@asu.edu">jayson.virissimo@asu.edu</a>.
          </p>
          <p>
            This web application is open source under the <a href='https://github.com/jaysonvirissimo/os-lusiadas/blob/master/LICENSE'>BSD license</a>.
            You can view the source code on <a href='https://github.com/jaysonvirissimo/os-lusiadas'>GitHub</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
